# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
tfplan

# Node
node_modules/
coverage/
.env
.nyc_output
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
.dockerignore

# Executables
*.exe

# Compressed archives
*.zip

# Misc
notes.txt

.kilo